@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  
}
body{
  font-family: 'Roboto';
  
}

@layer utilities {

.flexcenter{
  @apply flex items-center justify-center
}
.h1{
  @apply text-[45px] leading-[15px] font-bold
}

.primary-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
}

}